.filters-cont {
    position: sticky;
    top: 0;
    z-index: 50;
    margin: 10px;
}
.filter-row {
    opacity: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    color: #2a282c;
    background-color: #ffffff79;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    background: radial-gradient(
        ellipse 100% 50% at center,
        rgba(251, 251, 251, 0.679) 60%,
        rgba(255, 255, 255, 0.4) 70%,
        rgba(255, 255, 255, 0.227) 80%,
        rgba(255, 255, 255, 0) 98%
    );
}
.filter-row:hover {
    opacity: 99%;
}

.select__control {
    border: 1px solid #e0e0e0 !important;
    box-shadow: none !important;
}

.select__control--is-focused {
    border-color: #4caf50 !important;
}
